<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PelisRate | Reseñas de películas y series</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="logo-pelis" src= "images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline">
          <select class="custom-select custom-select mb-3">
              <option selected>Todos</option>
              <option value="1">Películas</option>
              <option value="2">Series</option>
              <option value="3">Actores</option>
            </select>
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Busca en PelisRate">
            <button type="submit" class="boton"><img class="boton-buscar" src= "images/Buscar.PNG"></button>
          </form>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/listadeseos">Listado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productList">Iniciar sesión</a>
            </li>         
          </ul>  
        </div>
      </nav>
    </header>

  <body>
      <div class="row menu"></div>

    <div class="banner2 banner_color ">

      <div class="container">

        <div class="row">

          <div class=" col-6 columna1_portada_perfil " >

            <div class="portada_estilo_letra_perfil">
              <h1>Leonardo DiCaprio</h1>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZWyBbJUVwls"  allowfullscreen></iframe>
            </div>

          </div>

          <div class=" col-6 portada_foto_perfil">
              <img  class="img-thumbnail" src="images\DiCaprio.jpg" alt="foto de perfil" >
          </div>
          </div>
      </div>
    </div>

    <div id="Imagenes" class="container2">

        <div class="text-center pt-5 titulo_PeliculasPlataforma">
          <h1>Producciones del actor</h1>
        </div>


      <div class="row pelisactor">
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img   class="img-fluid oscurecer_foto" src="images\Posters\titanic.jpg" alt="Galeria">
          <div class="texto-encima">Titanic</div>
        </div>
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img  class="img-fluid oscurecer_foto" src="images\Posters\revenant.jpg">
          <div class="texto-encima">Revenant: El Renacido</div>
        </div>
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img  class="img-fluid oscurecer_foto" src="images\Posters\onceuopnatime.jpg">
          <div class="texto-encima">Once Upon a Time in Hollywood</div>
        </div>
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img  class="img-fluid oscurecer_foto" src="images\Posters\inception.jpg">
          <div class="texto-encima">Inception</div>
        </div>
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img  class="img-fluid oscurecer_foto" src="images\Posters\ellobo.jpg">
          <div class="texto-encima">El Lobo de Wall Street</div>
        </div>
        <div class="col-lg-4 imagenes_PeliculasPlataforma">
          <img  class="img-fluid oscurecer_foto" src="images\Posters\django.jpg">
          <div class="texto-encima">Django sin cadenas</div>
        </div>
      </div>
<br>
    </div>






    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
