<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Listado de deseos de películas de usuario</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
  </head>

  <body>

     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="logo-pelis" src= "images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarsExampleDefault">
          <form th:action="@{peliculas/buscarpelicula}" method="post" th:object="${pelicula}" class="form-inline">
          <select class="custom-select custom-select mb-3" id="tipo" name="tipo">
              <option value="Peliculas">Peliculas</option>
              <option value="Series">Series</option>
           </select>
            <input type="text" class="form-control mb-3 TextoBusqueda" id="namePelicula" th:field="*{namePelicula}" placeholder="Busca en PelisRate">
            <button type="submit" class="boton"><i class="fa fa-search searchmenu"></i></button>
		  </form>
          <div class="d-flex justify-content-end">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/listas}">Mis Listas</a>
            </li>
            <li class="nav-item">
            <span sec:authorize="!isAuthenticated()">
              <a class="nav-link" href="/login">Iniciar sesión</a>
              </span>
            </li>
            <li class="nav-item">
            <div sec:authorize="hasAuthority('ADMINISTRADOR')"> 
	 			<a class="nav-link" href="/goadmin"><span sec:authentication="name"></span></a>
    		</div>
    		</li>
    		<li class="nav-item">
            <div sec:authorize="hasAuthority('USUARIO')">
	 			<a class="nav-link" th:href="@{/edituser}"><span sec:authentication="name"></span></a>
    		</div>
    		</li>          
          </ul>
          </div>  
        </div>
      </nav>
    </header>
    <main role="main">
         

      <hr><br>
      <div class="ModificarUsuario">
		<h1 class="titulo">Bienvenido Kaleb</h1>
		<br>
		<center>
		<div class="panel panel-default">
		<div class="panel-body">
      <h2 class="titulo">Nombre completo</h2>
      <br>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Kaleb Ríos">
      <br>
      <h2 class="titulo">Correo electrónico</h2>
      <br>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="kalebcito123@gmail.com">
      <br>
      <h2 class="titulo">Fecha de nacimiento</h2>
      <br>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="25/03/2020">
      <br>
      <h2 class="titulo">Contraseña</h2>
      <br>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="********">
      </div>
      </div>
      </div>
      </center>
       <br><br><br><br><br><br>
    </main>
    <a href="/" type="button" class="btn btn-primary contrasena" >Cambiar de contraseña</a>
	<a href="/listadeseos" type="button" class="btn btn-primary guardar" >Guardar</a><br>
	<a href="/" type="button" class="btn btn-secondary btn-lg btn-block" >Eliminar mi cuenta
	</a>
    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados | Autor: Rodrigo Loayza | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>