<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PelisRate | Administrador </title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
</head>
<body>
    <div id="register">
        <h3 style="margin-top: 80px" class="text-center text-info" >Actualizar - Usuario PelisRate</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="#" th:action="@{/updateform/{id}(id=${user.id})}" th:object="${user}" method="post">
                            <div class="form-group">
                                <label for="username" class="text-info">Nombre de usuario:</label><br>
	            <input type="text" th:field="*{username}" class="form-control" name="username" id="username" placeholder="Username"> 
	            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                            </div>
	        <div class="form-group">
		<label for="nombre" class="text-info">Nombre</label><br>
		<input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
		<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>
	        <div class="form-group">
		<label for="email" class="text-info">Email</label><br>
		<input type="text" th:field="*{email}" class="form-control" id="email" name="email" placeholder="Email">
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
	        <div class="form-group">
		<label for="estatus" class="text-info">Rol (1 - Administrador, 2 - Usuario )</label> 
		<input type="text" th:field="*{estatus}" class="form-control" id="estatus" name="estatus" placeholder="Estatus">
		<span th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></span>
                            </div>
                            <div class="form-group">
		<label for="password" class="text-info">Nueva Contrasena</label><br>
		<input type="password" th:field="*{password}" id="password" class="form-control" name="password" placeholder="Password">
		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                            <div class="form-group">	
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Actualizar usuario">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
