<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PelisRate | Crear Lista</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

   <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="logo-pelis" src= "images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarsExampleDefault">
          <form th:action="@{peliculas/buscarpelicula}" method="post" th:object="${pelicula}" class="form-inline">
          <select class="custom-select custom-select mb-3" id="tipo" name="tipo">
              <option value="Peliculas">Peliculas</option>
              <option value="Series">Series</option>
           </select>
            <input type="text" class="form-control mb-3 TextoBusqueda" id="namePelicula" th:field="*{namePelicula}" placeholder="Busca en PelisRate">
            <button type="submit" class="boton"><i class="fa fa-search searchmenu"></i></button>
		  </form>
          <div class="d-flex justify-content-end">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/listas}">Mis Listas</a>
            </li>
            <li class="nav-item">
            <span sec:authorize="!isAuthenticated()">
              <a class="nav-link" href="/login">Iniciar sesión</a>
              </span>
            </li>
            <li class="nav-item">
            <div sec:authorize="hasAuthority('ADMINISTRADOR')"> 
	 			<a class="nav-link" href="/goadmin"><span sec:authentication="name"></span></a>
    		</div>
    		</li>
    		<li class="nav-item">
            <div sec:authorize="hasAuthority('USUARIO')">
	 			<a class="nav-link" th:href="@{/edituser}"><span sec:authentication="name"></span></a>
    		</div>
    		</li>          
          </ul>
          </div>  
        </div>
      </nav>
    </header>
	<div class="container">
      <h1 class="h3 mb-4 text-gray-800">Actualizar Lista</h1>
      <hr>
      <form th:action="@{/updatelista-{idLista}(idLista=${lista.idLista})}" th:object="${lista}" method="post">
                        <div class="form-group row">
                            <label for="nameLista" class="col-sm-2 col-form-label">Nombre de Lista: 
                            </label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nameLista}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nameLista')}" th:errors="*{nameLista}"></small>
                            </div>
                            </div>
                            <div class="form-group row">
							<label for="pelis" class="col-sm-2 col-form-label">Peliculas:</label>
							<div class="col-sm-6">
								<select multiple class="custom-select custom-select-sm"
									th:field="*{Lista_Pelicula}">
									<option th:each="Lista_Pelicula : ${listPeliculas}"
										th:value="${Lista_Pelicula.idPelicula}" th:utext="${Lista_Pelicula.namePelicula}" />
								</select>
							</div>
							</div>
							   <div class="form-group row">
							<label for="series" class="col-sm-2 col-form-label">Series:</label>
							<div class="col-sm-6">
								<select multiple class="custom-select custom-select-sm"
									th:field="*{Lista_Serie}">
									<option th:each="Lista_Serie : ${listSeries}"
										th:value="${Lista_Serie.idSerie}" th:utext="${Lista_Serie.nameSerie}" />
								</select>
							</div>

                        </div>
                        
                                <input type="hidden" th:value="${user.id}" name="usuario" class="form-control">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Guardar" class="btn btn-secondary"></input>
                                <a href="/listas" class="btn btn-danger">Regresar</a>
                            </div>
                        </div>
                        </form>
                        <p th:text="${mensaje}" class="form-text text-danger"></p>
                        </div>
                        
                                      
                        

	
	</div>


         <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados
        </p>
      </div>
    </footer>
	<script>

	</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
