<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ProductsApp | Aplicación para Gestión de Productos.</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img class="logo-pelis" src= "/images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline">
          <select class="custom-select custom-select mb-3">
              <option selected>Todos</option>
              <option value="1">Películas</option>
              <option value="2">Series</option>
              <option value="3">Actores</option>
            </select>
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Busca en PelisRate">
            <button type="submit" class="boton"><i class="fa fa-search searchmenu"></i></button>
          </form>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Listado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productList">Iniciar sesión</a>
            </li>         
          </ul>  
        </div>
      </nav>
    </header>
<div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Actores</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/actores/add-actor}" title="Crear nuevo actor" role="button"><i class="fa fa-user" aria-hidden="true"></i> Nuevo Actor</a>            
            <hr>
          <table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Foto</th>
								<th scope="col">Nombres y Apellidos</th>
								<th scope="col">Fecha de nacimiento</th>
								<th scope="col"></th>
								<th scope="col"></th><th scope="col"></th><th scope="col"></th>


							</tr>
						</thead>
						<tbody>
							<tr th:each="actor: ${listActores}">
								<td th:text="${actor.idActor}"></td>
								<td><img style="width:160px" th:src="${actor.imageActor}"></td>
								<td th:text="${actor.nameActor}"></td>
								<td th:text="${#dates.format(actor.dateActor,'dd/MM/yyyy')}"></td>
								<td><a th:href="@{/actores/edit-{idActor}(idActor=${actor.idActor})}" class="btn btn-secondary">Editar</a></td>
								<td><a th:href="@{/actores/delete?idActor=}+${actor.idActor}"
									class="btn btn-secondary">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
            <p th:text="${mensaje}"></p>
          </div>
        </div>
      </div> <!-- /container -->
      
         <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
      

</body>
</html>
