<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ProductsApp | Actualizar Actor</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="logo-pelis" src= "../images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarsExampleDefault">
          
          <div class="d-flex justify-content-end">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/listas}">Mis Listas</a>
            </li>
            <li class="nav-item">
            <span sec:authorize="!isAuthenticated()">
              <a class="nav-link" href="/login">Iniciar sesión</a>
              </span>
            </li>
            <li class="nav-item">
            <div sec:authorize="hasAuthority('ADMINISTRADOR')"> 
	 			<a class="nav-link" href="/goadmin"><span sec:authentication="name"></span></a>
    		</div>
    		</li>
    		<li class="nav-item">
            <div sec:authorize="hasAuthority('USUARIO')">
	 			<a class="nav-link" th:href="@{/edituser}"><span sec:authentication="name"></span></a>
    		</div>
    		</li>          
          </ul>
          </div>  
        </div>
      </nav>
    </header>

    <main role="main">
	<div style="padding-top: 40px" class="container">
      <!-- Main for a primary marketing message or call to action -->
      <h1 class="h3 mb-4 text-gray-800">Actualizar Actor</h1>
      <hr>
		 <form th:action="@{/actores/update-{idActor}(idActor=${actor.idActor})}" th:object="${actor}" method="post" enctype="multipart/form-data">
                         <div class="form-group row">
                            <label for="nameActor" class="col-sm-2 col-form-label">Nombres y Apellidos: 
                            </label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nameActor}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nameActor')}" th:errors="*{nameActor}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Fecha de Nacimiento:
                            </label>
                            <div class="col-sm-6">
                                <input type="date" th:field="*{dateActor}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('dateActor')}" th:errors="*{dateActor}"></small>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Foto:
                            </label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" name="imageActor" id="imageActor"> 
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Actualizar" class="btn btn-secondary"></input>
                                <a href="/actores/actoresList" class="btn btn-danger">Regresar</a>
                            </div>
                        </div>
                        <p th:text="${mensaje}" class="form-text text-danger"></p>

                    </form>
      </div> <!-- /container -->

    </main>

     <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
