<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PelisRate | Lista de Series</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="logo-pelis" src= "../images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarsExampleDefault">
          
          <div class="d-flex justify-content-end">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/listas}">Mis Listas</a>
            </li>
            <li class="nav-item">
            <span sec:authorize="!isAuthenticated()">
              <a class="nav-link" href="/login">Iniciar sesión</a>
              </span>
            </li>
            <li class="nav-item">
            <div sec:authorize="hasAuthority('ADMINISTRADOR')"> 
	 			<a class="nav-link" href="/goadmin"><span sec:authentication="name"></span></a>
    		</div>
    		</li>
    		<li class="nav-item">
            <div sec:authorize="hasAuthority('USUARIO')">
	 			<a class="nav-link" th:href="@{/edituser}"><span sec:authentication="name"></span></a>
    		</div>
    		</li>          
          </ul>
          </div>  
        </div>
      </nav>
    </header>
<div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Series</strong></h4>              
          <div class="card-body">
		  <a class="btn btn-danger" th:href="@{/goadmin}" title="Regresar al panel" role="button"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Regresar al panel</a>
		  <a class="btn btn-primary" th:href="@{/series/add-serie}" title="Crear nueva Serie" role="button"><i class="fa fa-film" aria-hidden="true"></i> Nueva Serie</a>            
            <hr>
          <table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Foto</th>
								<th scope="col">Nombre</th>
								<th scope="col">Fecha de estreno</th>
								<th scope="col">Actores</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="serie: ${listSeries}">
								<td th:text="${serie.idSerie}"></td>
								<td><img style="width:160px" th:src="${serie.imageSerie}"></td>
								<td th:text="${serie.nameSerie}"></td>
								<td th:text="${#dates.format(serie.dateSerie,'dd/MM/yyyy')}"></td>
								<td><li th:each="Actores : ${serie.Actores}" th:text="${Actores.nameActor}"></li></td>
								<td><a th:href="@{/series/ed	it-{idSerie}(idSerie=${serie.idSerie})}" class="btn btn-secondary">Editar</a></td>
								<td><a th:href="@{/series/delete?idSerie=}+${serie.idSerie}"
									class="btn btn-secondary">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
            <p th:text="${mensaje}"></p>
          </div>
        </div>
      </div> <!-- /container -->
      
         <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
      

</body>
</html>
