<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ProductsApp | Aplicación para Gestión de Productos.</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img class="logo-pelis" src= "/images/Logopelisrate.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline">
          <select class="custom-select custom-select mb-3">
              <option selected>Todos</option>
              <option value="1">Películas</option>
              <option value="2">Series</option>
              <option value="3">Actores</option>
            </select>
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Busca en PelisRate">
            <button type="submit" class="boton"><i class="fa fa-search searchmenu"></i></button>
          </form>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Listado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productList">Iniciar sesión</a>
            </li>         
          </ul>  
        </div>
      </nav>
    </header>


    <main role="main">
	<div style="padding-top: 40px" class="container">
      <!-- Main for a primary marketing message or call to action -->
      <h1 class="h3 mb-4 text-gray-800">Actualizar Pelicula</h1>
      <hr>
		 <form th:action="@{/series/update-{idSerie}(idSerie=${serie.idSerie})}" th:object="${serie}" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="nameSerie" class="col-sm-2 col-form-label">Nombre de la película: 
                            </label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nameSerie}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nameSerie')}" th:errors="*{nameSerie}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Fecha de Estreno:
                            </label>
                            <div class="col-sm-6">
                                <input type="date" th:field="*{dateSerie}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('dateSerie')}" th:errors="*{dateSerie}"></small>
                            </div>
                        </div>
                        
                        	<div class="form-group row">
							<label for="color" class="col-sm-2 col-form-label">Actor:</label>
							<div class="col-sm-6">
								<select multiple class="custom-select custom-select-sm"
									th:field="*{Actores}">
									<option th:each="Actores : ${listActores}"
										th:value="${Actores.idActor}" th:utext="${Actores.nameActor}" />
								</select>
							</div>
						</div>
                        
                         <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Foto:
                            </label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" name="imageSerie" id="imageSerie">  
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Actualizar" class="btn btn-secondary"></input>
                                <a href="/series/seriesList" class="btn btn-danger">Regresar</a>
                            </div>
                        </div>
                        <p th:text="${mensaje}" class="form-text text-danger"></p>

                    </form>
      </div> <!-- /container -->

    </main>

     <footer class="footer">
      <div class="container">
        <p>
          &copy; 2020 PelisRate, Inc. | Todos los derechos reservados
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
